<h1>Software College</h1>

<div class="mx-2 my-2">
  <button type="button" class="btn btn-secondary" (click)="showHome()">Home</button>
  <button type="button" class="btn btn-secondary mx-2" (click)="showStudents()">Students</button>
  <button type="button" class="btn btn-secondary " (click)="showCourses()">Courses</button>
</div>

<ng-container *ngIf="homeFlag">
  <div class="">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">Ort Braude Software Department!</p>
  </div>
</ng-container>

<ng-container *ngIf="studentsFlag">
  <div class="row">
    <div class="column">
      <img
        class="img-thumbnail"
        src="https://www.universities-colleges.org.il/upload/cover(25).jpg"
        alt="Thumbnail image" />
    </div>
    <div class="column">
      <app-courses-list #child></app-courses-list>
    </div>
    
    <div class="column" *ngIf="child?.showStudentComponent">
      <app-students-table
        [selectedCourse]="child.selectedCourse">
      </app-students-table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="coursesFlag">
  <app-card #child></app-card>
  This website was developed in {{child.totalCourses[5].name}}
</ng-container>

<app-footer></app-footer>